body {
    background-color: lightblue;
  }
  
  h2 {
    color: navy;
    margin-left: 50px;
  }

  pre { 
    margin-top: 50px;
    color: #E1ad01;


  }


* {
    text-align: center;
    text-decoration: underline;

}

div.barrybreakfastisready {

    color: green;


}

hr {
    opacity: 0%;

}